.login {
    background: black;
    width: 100%;
    height: 100vh;
  }
  
  label {
    bottom: 0;
  }

  
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin-top: 0.4em;
  margin-bottom: 1.25em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
}
button[type="submit"] {
    width: 45%;
    background-color: #1919ff;
    color: white;
    padding: 0.8em 0.5em;
    margin: 1.5em 0;
    transition-duration: 600ms;
    transition-property: background-color, transform;
    border: none;
    border-radius: 1em;
    cursor: pointer;
  }
  .signUp {
    float: right;
  }
  
  input[type="submit"]:hover {
    transform: scale(1.15);
    background-color: #1313ad;
  }
  
  form {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 15em;
    height: 14em;
    border-radius: 1em;
    background-color: #282829;
    color: white;
    padding: 1.5em;
    animation: rotate 5000ms infinite;
  }
  
  @keyframes rotate {
    50% {
      box-shadow: 0 0 1em 0.5em #00006e;
    }
  }
  span{
    font-size: 12px;
    color: red;
    margin-top: 10px;
    text-align: center;
  }